In [6]:
from sklearn import metrics
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.cluster import MeanShift
import pandas as pd
import numpy as np

In [3]:
new_file_name = 'checkins.csv'

with open('checkins.dat', 'r') as file1:
    with open(new_file_name, 'w') as file2:
        for index, line in enumerate(file1):
            newLine = line.replace(' ','').replace('|', ',')
            if (index != 1):
                file2.write(newLine)

In [11]:
data = pd.read_csv(new_file_name).dropna()
data.head()

        id    user_id  venue_id   latitude   longitude          created_at
1   984222    15824.0    5222.0  38.895112  -77.036366  2012-04-2117:43:47
3   984234    44652.0    5222.0  33.800745  -84.410520  2012-04-2117:43:43
7   984291   105054.0    5222.0  45.523452 -122.676207  2012-04-2117:39:22
9   984318  2146539.0    5222.0  40.764462 -111.904565  2012-04-2117:35:46
10  984232    93870.0  380645.0  33.448377 -112.074037  2012-04-2117:38:18

In [17]:
clastering = MeanShift(bandwidth=0.1).fit(data[['latitude','longitude']][:100100])
clastering.get_params()

{'bandwidth': 0.1,
 'bin_seeding': False,
 'cluster_all': True,
 'min_bin_freq': 1,
 'n_jobs': None,
 'seeds': None}

In [28]:
offices = [[33.751277, -118.188740], 
           [25.867736, -80.324116], 
           [51.503016, -0.075479], 
           [52.378894, 4.885084], 
           [39.366487, 117.036146],
           [-33.868457, 151.205134]]

nearest_dist = np.inf
nearest_center = [0, 0]
for center in clastering.cluster_centers_:
    nearest_office_dist = np.inf
    for office in offices:
        dist = np.linalg.norm(center-office)
        if nearest_office_dist > dist:
            nearest_office_dist = dist
    if nearest_dist > nearest_office_dist:
        nearest_dist = nearest_office_dist
        nearest_center = center
        
with open('1.txt', "w") as file:
    file.write(' '.join(map(str, nearest_center)))

nearest_dist

0.007834758163107856