In [5]:
import pandas as pd
import numpy as np
import math

In [6]:
water = pd.read_csv('water.txt', sep = '\t', header = 0)

In [7]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

Задание 1

In [8]:
water_corr_pears = water.corr(method='pearson')

In [9]:
water_corr_pears.head()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

Задание 2

In [10]:
water_corr_spear = water.corr(method='spearman')

In [11]:
water_corr_spear.head()

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

Задание 3

In [12]:
water_south = water[water.location == 'South']
water_north = water[water.location == 'North']

In [13]:
water_south_corr_pears = water_south.corr(method='pearson')

In [14]:
water_south_corr_pears.head()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [15]:
water_north_corr_pears = water_north.corr(method='pearson')

In [16]:
water_north_corr_pears.head()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

Задание 4

In [41]:
data = pd.DataFrame(np.array([[0]*203 + [0]*718 + [1]*239 + [1]*515, [1]*203 + [0]*718 + [1]*239 + [0]*515]).transpose(),
                    columns=["Is Male", "Bar Often"])

In [42]:
data.head()

   Is Male  Bar Often
0        0          1
1        0          1
2        0          1
3        0          1
4        0          1

In [20]:
data.corr(method="kendall")

            Is Male  Bar Often
Is Male    1.000000   0.109002
Bar Often  0.109002   1.000000

Задание 5

In [44]:
from scipy.stats import chi2_contingency
data_obv=[[203,239],[718,515]]
chi2_contingency(data_obv)[1]

1.0558987006638725e-05

Задание 6

In [23]:
from statsmodels.stats.weightstats import zconfint
print('95%% confidence interval for the mean time: [%f, %f]' % zconfint([203/921,239/754]))

95% confidence interval for the mean time: [0.174064, 0.363325]

Задание 7

In [49]:
6

6

Задание 8,9

In [33]:
data_obv2 = np.array([[197,111,33], [382,685,331],[110,342,333]])
chi2_contingency(data_obv2)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

Задание 10

In [48]:
def cramers_corrected_stat(confusion_matrix):
    """ calculate Cramers V statistic for categorial-categorial association.
        uses correction from Bergsma and Wicher, 
        Journal of the Korean Statistical Society 42 (2013): 323-328
    """
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    phi2 = chi2/n
    r,k = confusion_matrix.shape
    return np.sqrt(phi2 / (min(k, r)-1))

cramers_corrected_stat(data_obv2)

0.2412013934500338